@page
@model MovieRazor.Pages.Search

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Поиск фильма</h2>

            <form method="get">
                <div class="input-group">
                    <input type="text" name="title" class="form-control" placeholder="Введите название фильма" value="@Model.Title">
                    <button class="btn btn-primary" type="submit">Искать</button>
                </div>
            </form>
        </div>
    </div>
    
    @if (Model.SearchByTitleRes != null && Model.SearchByTitleRes.Results.Length > 0)
    {
        <div class="container mt-5">
            <div class="row">
                @foreach (var movie in Model.SearchByTitleRes.Results)
                {
                   <partial name="Shared/_MoviePartial" model="movie"/>
                }
            </div>
        </div>
    }
    @if (Model.SearchByTitleRes != null)
    {
        <div class="pagination text-center mt-4">
            @if (Model.SearchByTitleRes.Page > 1)
            {
                <a asp-page="Search" asp-route-title="@Model.Title" asp-route-currentPage="@(Model.SearchByTitleRes.Page - 1)" class="btn btn-secondary me-2">Предыдущая</a>
            }
            <span>Страница @Model.SearchByTitleRes.Page из @Model.SearchByTitleRes.TotalPages</span>
            @if (Model.SearchByTitleRes.Page < Model.SearchByTitleRes.TotalPages)
            {
                <a asp-page="Search" asp-route-title="@Model.Title" asp-route-currentPage="@(Model.SearchByTitleRes.Page + 1)" class="btn btn-secondary ms-2">Следующая</a>
            }
        </div>
    }
</div>